

.App {
  text-align: center;
  background-color: rgb(228, 228, 228);  /* background-color: #0d0c12; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  padding-bottom: 100px;
  margin-top: -30px;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.trash-can {
  position: fixed;
  width: 143px;
  bottom: 14px;
  left: 21px;
}
