.form-background {
  position: fixed;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 200ms;
  opacity: 8;
}

.update-form {
  position: fixed;
  background-color: pink;
  width: 100%;
  height: 100%;
  min-height: 300px;
  max-height: 35rem;
  max-width: 36rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textfield {
  width: 22rem;
}

.update-form__btn {
  border: 2px solid transparent;
  background: #bdbdbd;
  color: #0d0c12;
  font-size: 16px;
  padding: 12px 0px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 36px;
  box-shadow: none;
  cursor: pointer;
  transition: 0.25s;
  display: block;
  width: 156px;
  margin: 1rem;
  outline: none;
}

.update-form__btn:hover {
  text-decoration: none;
  background-color: #2980b9;
}

@media screen and (max-width: 750px) {
  .update-form {
    max-height: 27rem;
    max-width: 25rem;
  }
}
