.join-wraper {
  /* padding-top: 40px; */
  text-align: center;
}

.titles {
  color: #333;
  text-align: center;
  margin-top: 5rem;
}

.error-msg {
  color: red;
  font-size: 22px;
}

.access-box {
  width: 100%;
  max-width: 343px;
  margin: 0 auto;
  padding-top: 22px;
  background-color: #a5afb6;
  padding-bottom: 22px;
  border-radius: 2.5px;
}

input {
  text-align: center;
  background-color: #ecf0f1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  transition: border 0.5s;
  margin-bottom: 12px;
  margin-left: 20px;
  margin-right: 20px;
}

input:focus {
  border: 2px solid #3498db;
  box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #bdbdbd;
  color: #0d0c12;
  font-size: 16px;
  /* line-height: 25px; */
  padding: 12px 0px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 36px;
  box-shadow: none;
  cursor: pointer;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  text-decoration: none;
  background-color: #2980b9;
}

.btn:disabled {
  cursor: wait;
  background-color: #cccccc;
  color: #666666;
}

.splash {
  pointer-events: none;
  width: 30%;
  height: auto;
  padding-left: 36%;
  margin-top: 37px;
}
