.join-wraper{
  padding-top: 40px;
  text-align: center;
}

.titles{
  color: #333;
  text-align: center;
}

input {
  text-align: center;
  background-color: #ecf0f1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  transition: border 0.5s;
  margin-bottom: 12px;
  margin-left: 20px;
  margin-right: 20px;
  }

  input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
    }
    

  .btn {
    border: 2px solid transparent;
    background: #bdbdbd;
    color: #0d0c12;
    font-size: 16px;
    /* line-height: 25px; */
    padding: 12px 0px;
    text-decoration: none;
    text-shadow: none;
    border-radius: 36px;
    box-shadow: none;
    cursor: pointer;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.btn:hover {
  text-decoration: none;
  background-color: #2980b9;
}
