.form {
  position: fixed;
  left: 3.5rem;
  top: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  min-width: 35rem;
  padding: 20px;
  padding-top: 22px;
  margin-left: 30px;
  margin-right: 5px;
  border-radius: 5px;
  box-shadow: 8px 8px 23px -2px #00000063;
  background-color: #a5afb6;
}

.form__exit {
  align-self: flex-end;
  color: #0d0c12;
  width: 30px;
  font-size: 17px;
  height: 28px;
  margin-bottom: 22px;
  box-shadow: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.form__exit:hover {
  background-color: #2980b9;
}

.randColor {
  width: 160px;
  height: 40px;
  margin: auto;
  margin-bottom: 12px;
  cursor: pointer;
}

.form__messages {
  position: relative;
  color: red;
}

input,
textarea {
  text-align: center;
  background-color: #ecf0f1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  transition: border 0.5s;
  margin-bottom: 12px;
  margin-left: 20px;
  margin-right: 20px;
}

input:focus,
textarea:focus {
  border: 2px solid #3498db;
  box-shadow: none;
}

.mainbtn {
  border: 2px solid transparent;
  background: #bdbdbd;
  color: #0d0c12;
  font-size: 16px;
  padding: 12px 0px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 36px;
  box-shadow: none;
  cursor: pointer;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
  outline: none;
}

.mainbtn:hover {
  text-decoration: none;
  background-color: #2980b9;
}

.mainbtn:disabled {
  cursor: wait;
  background-color: #cccccc;
  color: #666666;
}

@media screen and (max-width: 750px) {
  .form {
    min-width: 35vh;
  }
}
