.online-box {
  text-align: left;
  position: fixed;
  top: 140px;
  left: 86px;
  background: #bdbdbd;
  font-size: 21px;
  padding: 0 14px 24px 14px;
  border-radius: 4px;
}

.online-box div {
  margin-bottom: 6px;
}

.online-icon {
  margin-right: 7px;
  width: 11px;
}

.spinner_board {
  width: 22px;
}
