#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 710px;
  width: 100%;
  text-align: center;
  padding: 0px 15px;
  line-height: 1.4;
}

.notfound .notfound-404 h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 168px;
  margin: 0px;
  color: #f9a148;
  text-transform: uppercase;
}

.notfound h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222;
  margin: 0;
}

.notfound a {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  font-weight: 700;
  border-radius: 15px;
  text-decoration: none;
  color: #39b1cb;
}

.notfound__btn {
  border: 2px solid transparent;
  background: #bdbdbd;
  color: #0d0c12;
  font-size: 16px;
  padding: 12px 0px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 36px;
  box-shadow: none;
  cursor: pointer;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
  margin-top: 2rem;
  outline: none;
}

.notfound__btn:hover {
  background-color: #2980b9;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h1 {
    font-size: 122px;
  }
  .notfound img {
    width: 20rem;
  }
}
