.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  height: 100px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu li:hover {
  color: white;
}

.logout-btn {
  margin-left: 10px;
  align-self: center;
  cursor: pointer;
  color: #f9a148;
}

.menu__google {
  display: flex;
  font-size: 24px;
}

.menu__google__loading {
  width: 18px;
}

.menu__account {
  display: flex;
}
.profile {
  border: 1.5px solid white;
  margin-left: 10px;
  margin-right: 7px;
  margin-top: 15px;
  height: 52px;
  border-radius: 50%;
  pointer-events: none;
}

.google_name {
  font-size: 27px;
  color: white;
}

.link {
  color: white;
}

.link:hover {
  color: #111;
}

.menu__link__logo {
  pointer-events: none;
  width: 16rem;
  margin-top: 19px;
}

@media screen and (max-width: 750px) {
  .menu__link__logo {
    width: 10rem;
  }
}
