.leave_board {
  position: fixed;
  bottom: 14px;
  right: 7px;
  border: 2px solid transparent;
  background: #bdbdbd;
  color: #0d0c12;
  font-size: 21px;
  padding: 5px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  transition: 0.25s;
  display: block;
  width: 118px;
  margin: 0 auto;
}
.leave_board:hover {
  text-decoration: none;
  background-color: #2980b9;
}
