.notify {
  top: -5px;
  right: 5px;
  position: fixed;
  padding: 26px;
  background-color: rgb(6, 230, 81);
  color: rgb(0, 0, 0);
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 11px;
}
