.notify {
  top: 54px;
  right: 5px;
  position: fixed;
  padding: 15px;
  font-size: 20px;
  background-color: rgb(6, 230, 81);
  color: rgb(0, 0, 0);
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  transition: 1s;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 11px;
}
